@{
    ViewData["Title"] = "字語";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size: 2.5em; color: #000;">
    
    遺忘的沙繞指尖流轉
    雲樓仙子 水袖纏綿
    <br></br>迦藍菩提下客到來
    夢邀起舞八部天
    嶙峋的溝壑起伏層巒
    笙簫琵琶 金色步輦
    千秋黃沙 不曾褪減
    <br></br>全唐的濃墨重彩
    一剎那栩栩縷影浮光映宮闕
    錯問今夕是何年
    輕胡旋伎舞燈火在何處長眠
    伴著繁星映諸天
    <br></br>雪浸染萬千華光鐘聲塑佛龕
    此去蒙塵飲樂宴
    朱顏改怎不見窟畫昔日璀璨
    卻醒來作壁上觀
    遺忘的沙繞指尖流轉
    <br></br>雲樓仙子 水袖纏綿
    迦藍菩提下客到來
    夢邀起舞八部天
    嶙峋的溝壑起伏層巒
    笙簫琵琶 金色步輦
    <br></br>千秋黃沙 不曾褪減
</p>
